<h1>Listing No. <%= @id %></h1>

<section id="listing-mounting-point"
  data-listing-id= <%= @id %>
  <% if @edit %>
    data-edit= <%= @edit %>
  <% end %>
>
</section>

<%= javascript_packs_with_chunks_tag "listing" %>