<section id="listing-mounting-point" class="container"
  data-listing-id= <%= @id %>
  <% if @edit %>
    data-edit= <%= @edit %>
  <% end %>
>
</section>

<%= javascript_packs_with_chunks_tag "listing" %>