<h1>Listing-details#index @ id <%= @id %></h1>
<p>Find me in app/views/listing_details/index.html.erb</p>



<div id="root" listing-id-data= <%= @id %> ></div>

<%= javascript_packs_with_chunks_tag "listing-details" %>