<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <input type="email" name="user[email]" id="user_email" autocomplete="email" required="required" autofocus="autofocus" />

    <label for="user_profile_attributes_first_name" class="control-label">Email Address</label>

    <i class="bar"></i>
  </div>

  <div class="button-container">
    <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
  </div>
<% end %>
