$btn-radius: 5px;

.btn {
  color: $neutral;
  border-radius: $btn-radius;
  padding: $pad;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn-primary {
  background: $primary;
}

.btn-secondary{
  background: $secondary;
}