.form-container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: $white;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 8px;
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.invalid {
  margin-top: 5px;
  color: $flamingo;
  font-size: .85rem;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline>.form-group,
.form-inline>.btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: $form-grey;
  font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;

  .form-help {
    position: relative;
    margin-bottom: 1rem;
  }

  .helper {
    color: $form-helper-grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;

    &::before {
      top: 0.65rem;
      left: 0.38rem;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem $white;
    }

    &::after {
      top: 0.3rem;
      left: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  label {
    &:hover {
      .helper {
        color: $form-blue;
      }
    }
  }

  input {
    &:checked {
      &~.helper {
        color: $form-blue;

        &::after {
          height: 0.5rem;
        }

        &::before {
          height: 1.2rem;
          -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
        }
      }
    }
  }
}

.form-radio {
  .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
  }
}

.form-group {
  input {
    height: 1.9rem;
  }

  textarea {
    resize: none;
  }

  select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
  }

  .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: $form-grey;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
  }

  .bar {
    position: relative;
    border-bottom: 0.0625rem solid $form-helper-grey;
    display: block;

    &::before {
      content: "";
      height: 0.125rem;
      width: 0;
      left: 50%;
      bottom: -0.0625rem;
      position: absolute;
      background: $form-blue;
      -webkit-transition: left 0.28s ease, width 0.28s ease;
      transition: left 0.28s ease, width 0.28s ease;
      z-index: 2;
    }
  }

  input[type="file"] {
    line-height: 1;

    &~.bar {
      display: none;
    }
  }
}

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}

.form-group select~.control-label,
.form-group input:focus~.control-label,
.form-group input:valid~.control-label,
.form-group input.form-file~.control-label,
.form-group input.has-value~.control-label,
.form-group textarea:focus~.control-label,
.form-group textarea:valid~.control-label,
.form-group textarea.form-file~.control-label,
.form-group textarea.has-value~.control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus~.control-label,
.form-group input:focus~.control-label,
.form-group textarea:focus~.control-label {
  color: $form-blue;
}

.form-group select:focus~.bar::before,
.form-group input:focus~.bar::before,
.form-group textarea:focus~.bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
}

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;

  .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $form-helper-grey;

    &::after {
      -webkit-transform: scale(0);
      transform: scale(0);
      background-color: $form-blue;
      border-color: $form-blue;
    }
  }

  label {
    &:hover {
      .helper {
        color: $form-blue;
      }
    }
  }

  input {
    &:checked {
      &~.helper {
        &::after {
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
        }

        &::before {
          color: $form-blue;
        }
      }
    }
  }
}

.radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}

.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: $form-blue;
  display: block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}

.checkbox input:checked~.helper::after,
.checkbox input:checked~.helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}

.radio+.radio,
.checkbox+.checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}

.has-error {
  .bar {
    &::before {
      background: #d9534f;
      left: 0;
      width: 100%;
    }
  }
}



// TEMP STYLE UNTIL CHECKBOX CARD
#remember-me {
  color: $form-helper-grey;
}