a {
  color: $neutral-light-gray;
  text-decoration: none;

  &:visited {
    color: $neutral-light-gray;
  }

  &:hover {
    color: $neutral-medium-gray;
  }

  img {
    border: none;
  }
}

.main-section {
  a {
    font-weight: bold;
  }
}