h1 {
  font-size: 3rem;
  line-height: 3.125rem;
  letter-spacing: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0125em;
  line-height: 2rem;
}

.subtitle {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
  color: $subtitle-colour;
}