// This Provides the base style for the site layout

body {
  background: $white;
  box-sizing: border-box;

  .layout-container {
    background: $neutral-light-gray;
    display: flex;

    // Main Content
    .main-content {}
  }
}