// This Provides the base style for the site layout

body {
  background: $white;
  box-sizing: border-box;

  // Limit to the one page REMOVE ME if we want to change ?
  height: 100vh;
  overflow: hidden;

  .layout-container {
    background: $neutral-light-gray;
    @include flex(row, $justify-content, $align-items);

    // Main Content
    .main-content {
      width: 100%;

      .map-dashboard-section {
        width: 80%;
        @include flex(column, $justify-content, $align-items);
      }

    }
  }
}