// This Provides the base style for the site layout

body {
  background: $white;
  box-sizing: border-box;

  .layout-container {
    background: $neutral-light-gray;
    @include flex(row, $justify-content, $align-items);

    // Main Content
    .main-content {
      .map-dashboard-section {
        @include flex(column, $justify-content, $align-items);
      }
    }
  }
}