#nav-bar {
  @include flex(column, $justify-content, $align-items);

  background: $neutral-medium-gray;
  width: $navbar-width;

  &>* {
    width: $navbar-width;
  }

  .nav-link {
    @include flex(column, center, center);
    height: 50px;

    &>* {
      font-size: large;
    }
  }
}