#top-bar {
  height: 65px;
  background: $transparent;
  
  #top-bar-fixed-wrapper{
    width: 92vw;
    position: fixed;
    top: 15px;
  
    @include flex(row, flex-end, center);
    
    &>a {
      margin-right: 1rem;
    }
  }

  .top-bar-mini-fab-container {
    width: 50px;
  }

  

  // Both Mini-FAB icons
  .edit-registration,
  .logout {
    color: $neutral-light-gray;
  }

  .signup,
  .login {
    &:hover {
      color: $almost-white-gray
    }
  }

  .signup {
    background: $tussock;
  }

  .login {
    background: $mineral-green;
  }

}