#dashboard-component {
  height: 200px;

  @include flex(row, center, center);
  // margin: 1.25rem;

  .dashboard-icon,
  .dashboard-item {
    height: 100%;
    @include flex(row, center, center);
    margin: 1rem;
  }

  .dashboard-icon {
    width: 20%;
  }

  .dashboard-item {
    width: 40%;
  }


}