//List and listing items styles.
#listings-component {
  // @include flex(row, space-around, flex-start);
  // flex-wrap: wrap;
  // width: 100%;
  //overflow-y: auto;
  //height: $main-content-height;
  padding: 1.25rem;
  width: 395px;

  .listings-index-head {
    background: $cinderella;
  }

  .listings-action-bar {
    background: $gin;
    margin-bottom: 1rem;
  }

  .listing-card-index {
    border: 1px solid $concrete;
    height: 94%;
    margin: 0;
    overflow-y: scroll;
  }
}