//ruleset for entire component (for now)
$primary: #17252a;
$secondary: #3aafa9;
$neutral: #def2f1;
$b-color: #2b7a78;
$white: #feffff;
$b-radius: 5px;
$pad: 10px;
$margin: 20px;  

//flex mixin for simplified application of styling
@mixin flex($dir, $jcontent, $aitems) {
  display: flex;
  justify-content: $jcontent;
  flex-direction: $dir;
  align-items: $aitems;
}

body{
  background: $neutral;
}

//List and listing items styles.
#listings{
  @include flex(column, space-between, flex-start);
  width: 50%;
  min-width: 400px;
  max-width: 500px;

  .listing-item{
    @include flex(row, space-between, flex-start);
    -webkit-box-shadow: 1px 35px 71px -33px rgba(43,122,120,1);
    -moz-box-shadow: 1px 35px 71px -33px rgba(43,122,120,1);
    box-shadow: 1px 35px 71px -33px rgba(43,122,120,1);
    background: $secondary;
    color: $white;
    width: 98%;
    height: 80px;
    border-radius: $b-radius;
    padding: $pad;
    margin: $margin 0;
    overflow: hidden;

    .listing-image-section{
      @include flex(row, center, center);
      width:15%;
      height: 100%;

      img{
        width: 100%;
      }
    }

    .listing-info-section{
      @include flex(column, flex-start, flex-start);
      width: 50%;
      height: 100%;
      position: relative;
      
      h3{
        margin: 3px 0;
      }
      
      .listing-user{
        font-size: 12px;

        span{
          background: $b-color;
        }
      }
      
      //Eventually add a fade bar under the P tag to fad the rest of description out of view.
      p {
        margin: 8px 0;
      }

      div{
        position:absolute;
        bottom: -10px;
        width: 100%;
        height: 30px;
        z-index: 1000;
        background: transparent;
        background-image: linear-gradient(to bottom, transparent, $secondary);
        background-image: -moz-linear-gradient(0deg, transparent, $secondary);
        background-image: -webkit-linear-gradient(0deg, transparent $secondary);
      }
    }

    .listing-action-section{
      @include flex(column, space-between, center);
      width: 25%;
      height: 100%;

      button{
        background: $primary;
        color: $neutral;
        border-radius: $b-radius;
        padding: $pad;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
      }

      span{
        color: $neutral;
        font-size: 13px;
        align-self: flex-end;
      }
    }
  }
}